@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap');

/* ========================================================================= */

/* MOBILE VIEW @ 375px*/

/* TABLE OF CONTENTS
1. GLOBAL
2. TYPOGRAPHY
3. LAYOUT
4. MEDIA QUERY @ MIN-WIDTH:800px;
=======================  */


/* ========================================================================= */
/* 1. GLOBAL */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  box-sizing: border-box;
  background-color: rgb(13, 25, 44);

  /* TYPOGRAPHY & BACKGROUND */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.6px;
  line-height: 26px;
  text-align: left;
  color: rgb(139, 172, 217);
}

div,
img,
h1,
p {
  margin: 0;
  padding: 0;
}

/* ========================================================================= */
/* 2. TYPOGRAPHY */

/* NFT INFO | TYPOGRAPHY */
.title-nft {
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: rgb(255, 255, 255);
}
.description-nft {
  font-weight: 200;
  font-size: 18px;
  line-height: 26px;
}

/* STATS | TYPOGRAPHY */
.eth-num {
  font-weight: 400;
  line-height: 19px;
  color: rgb(0, 255, 248);
}

.days {
  line-height: 19px;
  text-align: left;
}

/* FOOTER | TYPOGRAPHY */
.created-by {
  line-height: 19px;
}
  .name {
    color: rgb(255, 255, 255);
  }

/* ATTRIBUTION | TYPOGRAPHY */
#attribution {
  font-size: 11px; 
  text-align: center;
  line-height: 1rem;
}
  #attribution a { 
    color: rgb(62, 82, 163); 
  }


/* ========================================================================= */
/* 2. LAYOUT */

#container {
  min-width: 375px;
  max-width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

/* CARD | LAYOUT */
.card {
  width: 327px;
  height: 543px;
  margin: auto;
  margin-top: 62px;
  margin-bottom: 62px;
  background: rgb(21, 38, 63);
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
  border-radius: 15px;
}

/* NFT CARD IMAGES | LAYOUT */
#image, #equilibrium, .overlay { 
  width: 278px;
  height: 278px;
  margin: auto;
  margin-bottom: 1.6em;
  border-radius: 8px;
  cursor: pointer;
}

#image {
  position: relative;
  top: 1.5rem;
}
  #equilibrium {
    display: block;
  }

#active-images {
  width: 100%;
  height: 100%;
  margin-top: -18.8rem;
  position: relative;
  display: flex;
  cursor: pointer;
  opacity: 0;
  transition: transform 3s;
}
  .overlay {
    width: 278px;
    height: 278px;
    position: absolute;
    background-color: rgb(0, 255, 247);
    border-radius: 8px;
    opacity: 0.5;
    mix-blend-mode: normal;
  }
  #eye {
    width: 48px;
    height: 48px;
    margin: auto;
    z-index: 5;
  }
    /* IMAGE HOVER & ACTIVE STATE */
    #image:hover #active-images {
      transform: rotateY(180deg);
      opacity: 1;
    }
    #active-images:active {
      opacity: 1;
    }

/* CARD TEXT | LAYOUT */
#nft-info, .stats {
  width: 278px;
  margin-right: 24px;
  margin-left: 24px;
}
  #nft-info {
    margin-top: 3rem;
  }
  .title-nft {
    height: 28px;
    cursor: pointer;
    transition: color ease 1s;
  }
  .description-nft {
    height: 52px;
    margin-top: 0.75rem;
  }
    /* TITLE & NAME | HOVER&ACTIVE STATE */
    .title-nft:hover, .name:hover,
    .title-nft:active, .name:active {
      color:rgb(0, 255, 247);
    }


/* STATS & ICONS | LAYOUT */
.stats, #nft-eth, .eth-num, #time, .clock, .days {
  display: flex;
  flex-direction: row;
}
  .stats {
    margin-top: 1rem;
    justify-content: space-between;
  }
  #nft-eth, #time {
    height: 19px;
    justify-content: center;
    align-items: center;
  }
  .eth {
    width: 11px;
    height: 18px;
  }
  .eth-num {
    margin-left: 6.48px;
  }

  .clock {
    width: 16px;
    height: 16px;
  }
  .days {
    margin-left: 7.7px;
  }

hr {
  width: 278px;
  height: 1px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: hsla(216, 32%, 27%, 1);
  border: none;
}

/* FOOTER | LAYOUT */
#card-footer {
  width: 280px;
  height: 33px;
  margin-top: 1em;
  margin-left: 1.6em;
  display: flex;
  align-items: center;
}
  .avatar {
    width: 33px;
    height: 33px;
    border: 1px solid hsla(0, 0%, 100%, 1);
    border-radius: 50%;
  }
  .creation-of, .name {
    display: flex;
    align-items: center;
  }
  .creation-of {
    width: 85px;
    height: 19px;
    margin-right: 1.3px;
    margin-left: 1rem;
  }
  .name {
    width: 100px;
    height: 19px;
    cursor: pointer;
    transition: color ease 1s;
  }

/* ATTRIBUTION | LAYOUT */
#attribution {
  position: relative;
  bottom: -2rem;
}
  #attribution a {
    transition: color ease 1s;
  }
  /* ATTRIBUTION HOVER & ACTIVE STATE */
  #attribution > a:hover,
  #attribution > a:active {
    color:rgb(0, 255, 247);
  }

/* ========================================================================= */
/* 4. MEDIA QUERY */

/* DESKTOP VIEW @ MIN-WIDTH:800px */
@media only screen and  (min-width: 800px) {
  /* CARD | MQ */
  .card {
    width: 350px;
    height: 596px;
    margin-top: 152px;
    margin-bottom: 152px;
  }
  /* IMAGES | MQ */
  #image, #equilibrium, .overlay { 
    width: 302px;
    height: 302px;
    margin-top: 0;
    border-radius: 8px;
  }
    #active-images {
      margin-top: -20.4rem;
    }

  /* NFT INFO | MQ */
  .title-nft {
    margin-top: 2.3rem;
  }
  .description-nft {
    letter-spacing: 0;
    margin-top: 18px;
  }

  /* STATS & ICONS | MQ */
  .stats, hr {
    margin-top: 24px;
  }
  #nft-info, .stats {
    width: 302px;
  }

  #nft-eth, #time {
    height: 20px;
  }

  .eth-num {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  }
  .days {
    margin-right: 0.3em;
  }

  hr {
    width: 302px;
  }

  /* CARD-FOOTER | MQ */
  #card-footer {
    margin-top: -0.08rem;
  }
    .created-by {
      font-size: 16px;
      line-height: 20px;
    }

  /* ATTRIBUTION | MQ */
  #attribution {
    line-height: 1.2rem;
    bottom: -2.8rem;
  }
}