@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap');

/* ========================================================================= */

/* TABLE OF CONTENTS */
/* 
1. GLOBAL
    -FLEXBOX
2. LAYOUT
3. TYPOGRAPHY
4. MEDIA QUERY
*/



/* ========================================================================= */

/* 1. GLOBAL */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  /* FLEXBOX */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* TYPOGRAPHY & BACKGROUND */
  background-color: #0D192C;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.6px;
  line-height: 26px;
  text-align: left;
  color: #8BACD9;
}

/* ========================================================================= */

/* 2. LAYOUT */
.card { 
  height: 543px;
  width: 327px;
  border-radius: 15px;

  background: #15263F;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
  border-radius: 15px;
}

.image, .equilibrium, .view-img { 
  height: 278px;
  width: 278px;
  border-radius: 8px;
  margin: auto;
  margin-top: 0.6em;
  margin-bottom: 1.6em;
}
  .equilibrium {
    display: relative;
  }
  .hide {
    display: block;
    position: relative;
    top: -114%;
  }
  .view-img {
    position: absolute;
    top: -114%;
    width: 100%;
    height: 100%;
    background-color: hsla(178, 100%, 50%, 1);
    opacity: 0.5;
    border-radius: 8px;
  }
    .eye {
      position: absolute;
      opacity: 1;
      margin: 127px;
      z-index: 99;
    }

    .hide {
      visibility: hidden;
    }

.nft-info, .stats {
  width: 278px;
  margin-left: 24px;
  margin-right: 24px;
}
  .title-nft {
    height: 28px;
  }
  .description-nft {
    height: 52px;
  }

.stats, .nft-eth, .eth-num, .time, .clock, .days {
  display: flex;
  flex-direction: row;
}
  .stats {
    justify-content: space-between;
  }
  .nft-eth, .time {
    height: 19px;
    justify-content: center;
    align-items: center;
  }
  .eth {
    height: 18px;
    width: 11px;
  }
  .eth-num {
    margin-left: 6.48px;
  }

  .clock {
    width: 16px;
    height: 16px;
  }
  .days {
    margin-left: 7.7px;
  }

hr {
  width: 278px;
  height: 1px;
  background: hsla(216, 32%, 27%, 1);
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-footer {
  display: flex;
  align-items: center;
  width: 280px;
  height: 33px;
  margin-left: 1.6em;
  margin-top: 1em;
}
  .avatar {
    width: 33px;
    height: 33px;
    border: 1px solid hsla(0, 0%, 100%, 1);
    border-radius: 50%;
  }
  .creation-of, .name {
    display: flex;
    align-items: center;
  }
  .creation-of {
    margin-left: 1rem;
    margin-right: 1.3px;
    width: 85px;
    height: 19px;
  }
  .name {
    width: 100px;
    height: 19px;
  }

/* ========================================================================= */

/* 3. TYPOGRAPHY */
.title-nft {
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #FFFFFF;
}
.description-nft {
  font-weight: 200;
  line-height: 26px;
  font-size: 18px;
}

.eth-num {
  font-weight: 400;
  line-height: 19px;
  color: #00FFF8;
}

.days {
  line-height: 19px;
  text-align: left;
}

.created-by {
  line-height: 19px;
}
  .name {
    color: #FFF;
  }

.attribution { 
  margin-top: 1.5em;
  font-size: 11px; 
  text-align: center; 
}
  .attribution a { 
    color: hsl(228, 45%, 44%); 
  }

/* ========================================================================= */

/* 4. MEDIA QUERY */

/* DESKTOP */
@media screen and  (min-width: 1000px) {
  /* LAYOUT */
  .card {
    height: 596px;
    width: 350px;
  }
  .image, .equilibrium, .view-img { 
    height: 302px;
    width: 302px;
    border-radius: 8px;
    margin-top: 0.8em;
  }
    .title-nft {
      margin-top: 2.3rem;
    }

  .description-nft {
    letter-spacing: 0;
    margin-top: 16px;
  }

  .stats, hr {
    margin-top: 24px;
  }
  .nft-info, .stats {
    width: 302px;
  }

  .nft-eth, .time {
    height: 20px;
  }

  .eth-num {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  }
  .days {
    margin-right: 0.3em;
  }

  hr {
    width: 302px;
  }

  .card-footer {
    margin-top: 1.5rem;
  }

 /* BACK TO STATS */
  /* TYPOGRAPHY */
.created-by {
  font-size: 16px;
  line-height: 20px;
}

  /* ACTIVE STATE LINE 65*/
.title-nft:hover, .name:hover {
  color:hsla(178, 100%, 50%, 1);
  cursor: pointer;
}

.equilibrium:hover {
  cursor: pointer;
}
.equilibrium:active + .show {
  cursor: pointer;
  visibility: visible;
}
}